Body {
  background: #888;
}

h1 {
  color: Cyan;
  background: purple;
}

h2 {
  color: red;
  background: black
}

.grid {
  width: 80%;
  margin: auto
}

img {
  width: 250px;
  float: right;
}

@media only screen and (min-width:800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
  }

  .span-col-2 {
    grid-column: span 2 / auto;
  }

  .span-col-3 {
    grid-column: span 3 / auto;
  }

  footer {
    background: hotpink;
  }

  img {
    width: 100px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    display: block;
    background: black;
    width: 150px;
    height: 15px;
    padding: 10px;
    margin: 20px;
    border: solid yellow 10px;
    border-radius: 5px;
    color: red;
  }

  nav a:hover {
    color: yellow;
    background: blue;
  }
